.card-style{
    box-shadow: none!important;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0!important;
    border-bottom-width: 0px!important; 
    border-bottom-style: none!important; 
}

.img-head{
    margin-top: -50px;
    position: absolute;
}